
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
-webkit-tap-highlight-color: transparent;
}

html{
      height:100svh;
      width:100%;
      background:#000;
      margin:0;
      padding:0;
      overflow:hidden;
}
body{
      height:100%;
      width:100%;
      background:transparent;
      color:#aa0;
      overflow-x:hidden;
}

    /*ボタンの押し心地など*/
    .nicePush{
          width: auto;
          padding:5px 10px;
          transition:0.1s;
          font-size: 1rem;
          font-weight :600;
          border-radius: 10px;
          background: #777;
          color: #000;
          transition:font-size 0.1s, transform 0.1s;
          z-index:50;
    }
    .nicePush:active{
         
          transform:scale(0.9) translateY(2px) ;
          font-size:15px;
    }
    
    
    
.spinner-back{
      position:fixed;
      height:100%;
      width:100%;
      display:flex;
      justify-content:center;
      align-items:center;
      inset:0;
      background:transparent;
      z-index:0;
      pointer-events:none;
}
.spinner{
      position:absolute;
      
      top:50%;
      left:50%;
      translate:-50% -50%;
      white-space:nowrap;
      height:300px;
      width:200px;
      font-size:2rem;
      border-radius:50%;
      animation: spin 30s linear infinite;
      animation-play-state:paused;
}
@keyframes spin{
      to{transform:rotate(360deg);}
}
body.is-visible .spinner{ animation-play-state:running; 
      
}
@media (prefers-reduced-motion: reduce){
  .spinner{ animation:none; }
}

.all-games{
      position:relative;
      height:100svh;
      width:100%;
      z-index:10;
      background:transparent;
}

#catStage{
      display:flex;
      flex-wrap:wrap;
}
#catStage div {   
      display:flex;
      font-size: 3.5rem;
      background:transparent; 
      margin:10px;
      transition:opacity 1.9s ease, transform 1.9s ease, scale 1.9s ease;
    }
    .fade-out{
          opacity:0;
          scale:0.9;
          transform:translateY(10px);
    }
    

    
   /*単語カード*/
   .flashcards-containe{
         
   }
   #delBtn{
         color:#900;
   }
  
    .firstSight{
          background:#020;
    }
   #wordsStage{
          display:flex;
          flex-direction:column;
          justify-content:space-between;
          align-items:center;
          list-style: none;
          margin-top:30px;
          gap:30px;
    }
    #wordsStage li{
          padding:15px;
          font-size:1.7rem;
          color:#aa0;
          border-radius:10px;
    }
   
    .stickyBar{
          display:flex;
          position:sticky;
          top:0;
          justify-content: space-between;
          background:#333;
          align-items:center;
          margin-top:10px;
    }
    
    #currentStatus{
          color:gold;
          font-size: 1.7rem;
    }
    
  